@charset "utf-8";

/*
 * ImaVi app styles.
 * (C) 2016 Lupshenko.
 * This code is licensed under the GPL3.
 */
 
/*Work area*/
	#workArea {
		position: absolute;
		top: 7vh;
		height: 93vh;
		width: 100vw;
		line-height: 92vh;
		text-align: center;
		overflow: scroll;
	}
	
	#curImage {
		vertical-align: middle;
	}

/*Dialogs*/
	/*Info*/
		#logo {
			height: 30vh;
			width: 30vh;
		}
	
	/*Common*/
		#Bookmarks .content .button {
			display: block;
			padding: 2vh 0;
			width: 68vw;
		}
		
		#Bookmarks .content .button .title {
			font-size: 4vh;
		}
		
		#Bookmarks .content .button .href {
			font-size: 3vh;
		}
		
		#Bookmarks .content .button .date {
			font-size: 2vh;
		}
